@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --basic-font1: Verdana, Geneva, Tahoma, sans-serif;
    --basic-font2: 'Roboto Slab', serif;
    --cursive-font: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--basic-font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header>h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--basic-font2);
    font-size: 5vw;
}

header>p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
        a:hover {
            text-decoration: underline;
        }

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--cursive-font);
    font-size: 3vw;
}

section.basic {
    background-color: white;
    color: black;
}

section.image {
    background-color: green;
}

section.image>p {
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
    padding: 20px;
    display: inline-block;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}